<!DOCTYPE html>
<html>
  <head>
    <title>%title%</title>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="/static/templates/default/theme.css">
    
    <!-- jQuery UI -->
    <link rel="stylesheet" type="text/css" href="/static/jquery/ui/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery/ui/css/jquery-ui.theme.min.css">

    <!-- FontAwesome -->
    <link rel="stylesheet" type="text/css" href="/static/fontawesome/css/all.min.css">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
  </head>
  <body>
    <div class="container-fluid" id="slidesframework-body">
	
    </div>

    <ul id="slidesframework-controllers">
	
    </ul>
    
    <!-- jQuery UI & Core -->
    <script type="text/javascript" src="/static/jquery/core/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/jquery/ui/js/jquery-ui.min.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>

    <!-- Charts -->
    <script type="text/javascript" src="/static/chart/js/Chart.min.js"></script>
    <script type="text/javascript" src="/static/chart/js/Chart.bundle.min.js"></script>

    <!-- SlideFramework -->
    <script type="text/javascript" src="/static/slideframework/framework.js"></script>

    <script type="text/javascript">
      $('document').ready(function() {   
	  SlideFramework.initialize();
      });
    </script>
  </body>
</html> 

